@import 'colors.scss';

#articlePage {
    grid-template-rows: auto auto auto !important;
    margin: -25px;

    > #header {
        grid-template-rows: auto;
        padding: 25px;
        text-shadow: 5px 5px 5px #000;
        
        > div {
            > a {
                display: inline;
                font-size: 1.5em;
                font-weight: 700;
                color: $white;
            }
    
            > #back {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    > #content {
        grid-template-rows: auto auto !important;
        > .title {
            justify-self: center !important;
            color: $white;
            text-align: center;
            width: 100vw;
            padding: 25px;
            text-shadow: 5px 5px 5px #000;
        }

        > div {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            padding: 0 20vw 0 20vw;
            color: $white;
            font-weight: 700;
            font-size: 1.5em;
            height: 300vh;
            width: 100%; 
        }
    }

    > #footer {
        color: $white;
    }
}