@import 'colors.scss';

// Home Page
#homePage {
    grid-template-rows: auto auto auto auto !important;

    > #header {
        grid-template-rows: auto auto;
    }

    > #featured {
        align-self: center;
        text-align: center;
        grid-template-columns: 50vw 45vw;
        grid-template-rows: 100vh;
        grid-gap: 2vh;

        > #smalls {
            grid-template-columns: 100fr;
            grid-template-rows: 60vh 38vh;
            grid-gap: 2vh;
        }
    }

    > #articles {
        grid-template-rows: auto auto;

        > a {
            color: $black !important;
        }

        > table {
            font-size: 2em;
            font-weight: 700;
            vertical-align: center;
            border: none;
            max-width: 100%;
            color: $grey;
        }
    }
}

tr:hover {
    color: $black;
    cursor: pointer;
    text-decoration: underline;
}

.dateColumn {
    padding-left: 25px;
    text-align: right;
}