@import 'colors.scss';
// Mobile
@media only screen and (max-width: 800px) {
    body {
        font-size: 0.5em;
    }

    .title {
        font-size: 4em;
    }

    .subtitle, .image, table, #footer {
        font-size: 2.5em !important;
    }

    #homePage { 
        > #featured {
            grid-template-columns: 100fr 0fr;
            grid-gap: 0vh;
            grid-template-rows: 50vh;

            > #smalls  {
                display: none;     
            }
        }
    }

    #articlePage {

        > #header > div {
            font-size: 1.5em;
        }
    
        > #content > div {
            padding: 25px !important;
            box-sizing: border-box;
            font-weight: 500 !important;
            font-size: 2em !important;
        }
    }
}